<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head.html:START-->
<<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog - Demeter</title>
    <link media="all" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/blog.css" rel="stylesheet">
</head>>
<!-- head.html:END-->


<body>

<div class="container">

    <!-- header.html:START-->
    <div th:replace="blog/fragments/header.html :: template"></div>
    <!-- header.html:END -->

    <!-- menu.html:START-->
    <div th:replace="blog/fragments/menu.html :: template
    (items = ${menuItems})">
    </div>
    <!-- menu.html:END-->

    <!-- banner.html:START-->
    <div th:replace="blog/fragments/banner.html :: template"></div>
    <!-- banner.html:END-->

    <div class="row mb-2">
        <div class="col-md-6">
            <!-- post-widget.html:START-->
            <div th:replace="blog/fragments/post-widget.html :: template"></div>
            <!-- post-widget.html:END-->
        </div>
        <div class="col-md-6">
            <!-- post-widget.html:START-->
            <div th:replace="blog/fragments/post-widget.html :: template"></div>
            <!-- post-widget.html:END-->
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            <!-- post.html:START -->
            <div th:replace="blog/fragments/post.html :: template"></div>
            <!-- post.html:END -->

        </div>

        <aside class="col-md-4 blog-sidebar">

            <!-- about.html:START -->
            <div th:replace="blog/fragments/about.html :: template"></div>
            <!-- about.html:START -->

            <!-- archives.html:START -->
            <div th:replace="blog/fragments/archives.html :: template"></div>
            <!-- archives.html:END -->

            <!-- elsewhere.html:START -->
            <div th:replace="blog/fragments/elsewhere.html :: template"></div>
            <!-- elsewhere.html:END -->
        </aside>
    </div>
</main>

<!-- footer.html:START -->
<div th:replace="blog/fragments/footer.html :: template"></div>
<!-- footer.html:START -->

</body>

</html>